<!DOCTYPE html>
<html>

<head>
	<title>Heroiq</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>

<body>
	<%= render 'layouts/header' %>
	<% if current_page?(root_url) %>
		<%= render 'layouts/index' %>
	<% else %>
		<%= render 'layouts/page' %>
	<% end %>
	<%= render 'layouts/footer' %>
	<%= render 'layouts/copyright' %>
</body>

</html>
